@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
.Fadeout{
    margin-left: 10vw;
    margin-top: 5vh;
    display : flex;
    margin-bottom: 5vh;
}

.Titlecut{
    text-align: center;
    margin-top : 10vh;
    margin-bottom : 10vh;
}

.TitText{
    font-family: 'Jeju Gothic', sans-serif;
}

.titleImage{
    height: 56vh;
    width: auto;
}

.Underline{
    height: auto;
    width: 25vw;
    margin-left: 5vh;
}

.hr{
    margin-top: 5vh;
    border: 0;   
    width : 80%;
    text-align: center;   
    color: blueviolet;
}

.hr:after{
    content: "Youtube";   
    position: relative;    
    top: -15px;  
    background-color: #333;   
    padding: 0 10px;   
}

.centered{
    display:flex;
    justify-content: center;
    margin-bottom: 3vh;
    margin-top: 15vh;
}

.Fontblank{
    font-size: 20pt;
    font-family: 'Jeju Gothic', sans-serif;
}