
.TabLists{
    margin-top: 10vh;
}
.effect:hover{
    transform :translateY(10%);
}
.videoBlock{
    margin-top: 20px;
}
.video{
    margin-left: 10px;
    margin-right: 10px;
    display : flex;
    justify-content : center;
}