
.TabLists{
    margin-top: 10vh;
}
.effect:hover{
    transform :translateY(10%);
}
.videoBlock{
    margin-bottom: 20px;
}
.video{
    margin-left: 10px;
    margin-right: 10px;
    display : flex;
    justify-content : center;
}

div a {
    margin-right: 40px;
}

.Film{
    margin-top: 5vh;
}